<div>
    <div class="row lp_title_row">
        <div class="col s3 center">
            <img src="./full_logo.png" width="139px">
        </div>
        <div class="col s3 offset-s6 center lp_titlerow_loginbtn_align qs_username_col">
            <a class="qs_username">Admin: <i class="material-icons qs_person_icon_align">person</i>{{adminname}}</a>
        </div>
    </div>
    <br>
    <br>
    <div class="row center">
        <div class="col s12">
            <a class="btn su_signup_btn admpage_btn_width" ng-click="addquestions()">Add Topic</a>
        </div>
    </div>
    <div class="row center">
        <div class="col s12">
            <a class="btn su_signup_btn admpage_btn_width" ng-click="deletequestions()">Delete Topic</a>
        </div>
    </div>
</div>